:root {
  --font-sans: "Work Sans", sans-serif;
  --font-serif: "Eczar", serif;
  /*Set rem size for UI scaling*/ font-size: 15px;

  --color-orange: hsl(20, 100%, 80%);
  --color-orange-dark: hsl(20, 100%, 70%);
  --color-orange-light: hsl(20, 100%, 90%);

  --color-red: hsl(0, 100%, 72.5%);
  --color-red-light: hsl(0, 100%, 80%);

  --color-gray: hsl(0, 0%, 25%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-gray-light: hsl(0, 0%, 30%);
  --color-gray-extraLight: hsl(0, 0%, 35%);

  --box-shadow-1dp: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.20), 0 1px 3px 0 rgba(0,0,0,0.20);
  --box-shadow-2dp: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(0,0,0,0.20);
  --box-shadow-3dp: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.20), 0 1px 8px 0 rgba(0,0,0,0.20);
  --box-shadow-4dp: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.20), 0 2px 4px -1px rgba(0,0,0,0.20);

  --box-shadow-inset-1dp: inset 0 1px 1px 0 rgba(0,0,0,0.14), inset 0 2px 1px -1px rgba(0,0,0,0.20), inset 0 1px 3px 0 rgba(0,0,0,0.20);
}

*:focus {
  outline: hsl(220, 100%, 68%) auto 4px;
}
html:not(.user-navigating-with-keyboard) *:focus {
  outline: none;
}

body {
  background-color: var(--color-gray);
  font-family: var(--font-sans);
  color: var(--color-orange-light);
}





header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  /*Hollow button text line height, hollow button interior padding, hollow button border width, and header vertical padding */
  min-height: calc(0.8em + 0.8em + 2px + 2rem);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 1rem;

  background-color: var(--color-gray-dark);
  box-shadow: var(--box-shadow-3dp);
}

  #wrapper-header-leftArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
    .wrapper-logoText {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      pointer-events: none;
    }

  #wrapper-header-rightArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  #wrapper-header-rightArea button {
    margin-left: 1rem;
  }





.view {
  --header-height: 56px;

  position: relative;
  top: var(--header-height);
  max-width: 960px;
  min-height: calc(100vh - var(--header-height));
  padding: 2rem;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}





.typo-heading-large {
  font-family: var(--font-serif);
  font-size: 1.953em;
  line-height: 1.092;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.typo-heading-small {
  font-family: var(--font-serif);
  font-size: 1.563em;
  line-height: 1.024;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.typo-body-large {
  font-size: 1.25em;
  line-height: 1.067;
  font-weight: 400;
}

.typo-body {
  font-size: 1em;
  line-height: 1.25;
  font-weight: 400;
}

.typo-body-small {
  font-size: 0.8em;
  line-height: 1.334;
  font-weight: 400;
}

.typo-left{
  text-align: left;
}

.typo-center {
  text-align: center;
}

.typo-color-orange {
  color: var(--color-orange);
}

.typo-color-orange-dark {
  color: var(--color-orange-dark);
}

.typo-color-orange-light {
  color: var(--color-orange-light);
}

.typo-color-gray {
  color: var(--color-gray);
}

.typo-color-gray-dark {
  color: var(--color-gray-dark);
}

.typo-color-gray-light {
  color: var(--color-gray-light);
}





form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

form .button-filled {
  margin-top: 2rem;
}

.wrapper-formFeedback {
  margin-bottom: 2rem;
}

label {
  margin-top: 0.267em;
}
label.invalid {
  color: var(--color-red-light);
}





input {
  -webkit-appearance: none;
  background: var(--color-gray-extraLight);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow-inset-1dp);

  color: var(--color-orange-light);
  line-height: 1;

  /* Touch-target best-practice */ min-height: 44px;
  padding: 1em;
}
input::-webkit-input-placeholder {
  color: rgb(255,221,196, 0.38);
}
input:-ms-input-placeholder {
  color: rgb(255,221,196, 0.38);
}
input::-ms-input-placeholder {
  color: rgb(255,221,196, 0.38);
}
input::placeholder {
  color: rgb(255,221,196, 0.38);
}

.wrapper-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: stretch;
  width: 100%;
  margin-bottom: 1rem;
}
.wrapper-input:last-of-type {
  margin-bottom: 0;
}




/* Convert .recipe-card styles to support it now being a <button> */
.recipe-card {
  border: none;
  width: 100%;
  justify-content: left;
  position: relative;
  border-radius: 6px;
  background-color: var(--color-gray-light);
  box-shadow: var(--box-shadow-1dp);
  padding: 1em;
  padding-right: calc(2rem + 11px); /* Accounting for chevron .svg width, and its horizontal padding */

  cursor: pointer;
}
.recipe-card:not(:last-of-type) {
  margin-bottom: 16px;
}
.svg-show-recipe-chevron {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1em;
}




.button-hollow {
  border: 1px solid var(--color-orange-dark);
  background-color: var(--color-gray);
  box-shadow: var(--box-shadow-1dp);
  border-radius: 6px;
  padding: 0.4rem 0.533rem 0.4rem 0.533rem;

  font-size: 0.8em;
  line-height: 1;
  font-weight: 400;

  min-height: 26px;
  min-width: 26px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
header .button-hollow {
  background-color: var(--color-gray-dark);
}
.button-hollow:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: none;
}





.button-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
}
.svg-icon {
  --size: 16px;
  height: var(--size);
  width: var(--size);
}





.button-filled {
  background: var(--color-orange-dark);
  box-shadow: var(--box-shadow-2dp);
  border: none;
  border-radius: 6px;

  font-size: 1em;
  line-height: 1;
  font-weight: 400;

  min-height: 48px;
  padding: 6px 8px 6px 8px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button-filled:hover {
  background: #FF984E;
  box-shadow: var(--box-shadow-1dp);
}
.button-filled:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  box-shadow: var(--box-shadow-1dp);
}
.button-filled:disabled {
  cursor: not-allowed;
  box-shadow: var(--box-shadow-1dp);
  background: var(--color-orange-dark);
  opacity: 0.38;
}





/* #js-view-landing {} */

  #landing-usp {
    margin: 0;
  }

  #landing-direction {
    margin-top: 2em;
    margin-bottom: 1em;
  }





/* #js-view-signIn {} */





/* #js-view-register {} */





/* #js-view-userHome {} */

  #wrapper-userHome-userInfo {
    margin-bottom: 2rem;
  }

    #js-userHome-text-currentUser {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  /* #js-userHome-wrapper-recipeCards {} */

    .recipe-name {  /*JS*/
      text-align: left;
      margin-bottom: 0.25em;
    }
    .ingredients-list {
      text-align: left;
      color: var(--color-orange-light);
    }





/* #js-view-recipeEdit {} */

  #wrapper-recipeEdit-cocktailName {
    margin-bottom: 2rem;
  }

  .wrapper-ingredientBlock-svg-remove {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: relative;
    left: -3px;
    height: 20px;
    width: 20px;

    margin-bottom: 1rem;
  }
    /* .svg-ingredientBlock-remove {} */

  /* #js-wrapper-recipeEdit-ingredientBlocks {} */

  #js-button-recipeEdit-addIngredientBlock {
    align-self: center;
  }

  .recipeEdit-ingredientBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    background-color: var(--color-gray-light);
    padding: 1em;
    border-radius: 6px;
    box-shadow: var(--box-shadow-1dp);
    margin-bottom: 1rem;
  }

  #js-input-recipeEdit-directions {
    resize: none;
    background: var(--color-gray-extraLight);
    border: none;
    border-radius: 6px;
    box-shadow: var(--box-shadow-inset-1dp);

    color: var(--color-orange-light);

    padding: 1em;
    margin-top: 2rem;
  }

  #js-button-recipeEdit-delete {
    align-self: center;
    margin-top: 1rem;
    border-color: var(--color-red-light);
    color: var(--color-red-light);
  }





/* #js-view-recipe {} */
#js-recipe-cocktailName {
  margin-bottom: 1rem;
}
/* #js-recipe-creator {
  margin-bottom: 2rem;
} */
#recipe-ingredientsLabel {
  margin-bottom: 0.267em;
}
#js-recipe-ingredientsList {
  list-style: none;
  margin-bottom: 1rem;
}
#recipe-directionsLabel {
  margin-bottom: 0.267em;
}





@media (hover: none) {
  .button-hollow:active,
  header .button-hollow:active {
    background-color: var(--color-orange-dark);
  }
}

@media (hover: hover) {
  .button-hollow:hover {
    background-color: var(--color-orange-dark);
    color: var(--color-gray);
  }
  #js-button-recipeEdit-delete:hover {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-gray);
  }
  header .button-hollow:hover {
    color: var(--color-gray-dark);
  }
}