:root {
  --font-sans: "Work Sans", sans-serif;
  --font-serif: "Eczar", serif;
  /*Set rem size for UI scaling*/ font-size: 15px;

  --color-orange: #FFCCB3;
  --color-orange-dark: #FFAA80;
  --color-orange-light: #FFDDCC;

  --color-gray: #414141;
  --color-gray-dark: #383838;
  --color-gray-light: #474747;

  --box-shadow-1dp: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.20), 0 1px 3px 0 rgba(0,0,0,0.20);
  --box-shadow-2dp: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(0,0,0,0.20);
  --box-shadow-3dp: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.20), 0 1px 8px 0 rgba(0,0,0,0.20);
  --box-shadow-4dp: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.20), 0 2px 4px -1px rgba(0,0,0,0.20);

  --box-shadow-interior-1dp: inset 0 1px 1px 0 rgba(0,0,0,0.14), inset 0 2px 1px -1px rgba(0,0,0,0.20), inset 0 1px 3px 0 rgba(0,0,0,0.20);
}

*:focus {
  outline: #5E94FF auto 4px;
}
html:not(.user-navigating-with-keyboard) *:focus {
  outline: none;
}

body {
  background-color: var(--color-gray);
  font-family: var(--font-sans);
  color: var(--color-orange-light);
}





header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  /*Hollow button text line height, hollow button interior padding, hollow button border width, and header vertical padding */
  min-height: calc(0.8em + 0.8em + 2px + 2rem);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 1rem;

  background-color: var(--color-gray-dark);
  /* box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16); */
}

  #wrapper-header-leftArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
    #wrapper-logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      pointer-events: none;
    }

  #wrapper-header-rightArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  #wrapper-header-rightArea > *:not(:first-child) {
    margin-left: 0.5em;
  }





.view {
  --header-height: 56px;

  position: relative;
  top: var(--header-height);
  max-width: 960px;
  min-height: calc(100vh - var(--header-height));
  padding: 2rem;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}





.typo-heading-large {
  font-family: var(--font-serif);
  font-size: 1.953em;
  line-height: 1.092;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.typo-heading-small {
  font-family: var(--font-serif);
  font-size: 1.563em;
  line-height: 1.024;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.typo-body-large {
  font-size: 1.25em;
  line-height: 1.067;
  font-weight: 400;
}

.typo-body {
  font-size: 1em;
  line-height: 1.25;
  font-weight: 400;
}

.typo-body-small {
  font-size: 0.8em;
  line-height: 1.334;
  font-weight: 400;
}

.typo-left{
  text-align: left;
}

.typo-center {
  text-align: center;
}

.typo-color-orange {
  color: var(--color-orange);
}

.typo-color-orange-dark {
  color: var(--color-orange-dark);
}

.typo-color-orange-light {
  color: var(--color-orange-light);
}

.typo-color-gray {
  color: var(--color-gray);
}

.typo-color-gray-dark {
  color: var(--color-gray-dark);
}

.typo-color-gray-light {
  color: var(--color-gray-light);
}





form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

form .button-filled {
  margin-top: 2rem;
}

label {
  margin-top: 0.267em;
}
label.invalid {
  color: #FF9999;
}





input {
  background: var(--color-gray-light);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow-interior-1dp);

  color: var(--color-orange-light);
  line-height: 1;

  /* Touch-target best-practice */ min-height: 44px;
  padding: 1em;
}
input::placeholder {
  color: rgb(255,221,196, 0.38);
}

.wrapper-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: stretch;
  width: 100%;
  margin-bottom: 1rem;
}
.wrapper-input:last-of-type {
  margin-bottom: 0;
}





.recipe-card {
  position: relative;
  border-radius: 6px;
  background-color: var(--color-gray-light);
  box-shadow: var(--box-shadow-1dp);
  padding: 1em;
  /* Account for chevron icon width, and both sides of chevron padding */
  padding-right: calc(2rem + 11px);
  cursor: pointer;
}
.recipe-card:not(:last-of-type) {
  margin-bottom: 16px;
}
.svg-chevron-show-recipe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}




.button-hollow {
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid var(--color-orange-dark);
  box-shadow: var(--box-shadow-1dp);
  border-radius: 6px;
  padding: 0.4rem 0.533rem 0.4rem 0.533rem;

  font-size: 0.8em;
  line-height: 1;
  font-weight: 400;

  min-height: 24px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button-hollow:hover {
  background-color: var(--color-orange-dark);
  color: var(--color-gray);
}
.button-hollow:active {
  transform: translateY(1px);
}





.button-filled {
  background: var(--color-orange-dark);
  /* box-shadow: 0 2.5px 0 0 #CC895A; */
  border: none;
  border-radius: 6px;

  font-size: 1em;
  line-height: 1;
  font-weight: 500;

  min-height: 48px;
  padding: 6px 8px 6px 8px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button-filled:hover {
  background: #FF984E;
  /* box-shadow: 0 2.5px 0 0 #B3784F; */
}
.button-filled:active {
  transform: translateY(2px);
  /* box-shadow: 0 0.5px 0 0 #B3784F; */
}
.button-filled:disabled {
  cursor: not-allowed;
  background: var(--color-orange-dark);
  opacity: 0.38;
}





#js-view-landing {}

  #landing-text-usp {
    margin: 0;
    margin-bottom: 1em;
  }

  #landing-text-direction {
    margin-bottom: 1em;
  }





#js-view-signIn {}

  .wrapper-feedback {
    min-height: calc(1.024em * 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 2em;
  }





#js-view-register {}





#js-view-userHome {}

  #js-current-user {
    line-height: 1;
    word-break: break-all;
    margin-bottom: 0.25em;
  }

  #js-recipe-count {
    line-height: 1;
    margin-bottom: 3em;
  }

  #js-wrapper-recipeCards {

  }

  .recipe-name {
    margin-bottom: 0.25em;
  }

  #js-button-userHome-addRecipe,
  #js-button-recipeCreate-addIngredientBlock {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    /* box-shadow: 0px 10px 20px rgba(0,0,0,0.19); */
  }





#js-view-recipeCreate {}

  #wrapper-recipeCreate-cocktailName {
    margin-bottom: 2rem;
  }

  .wrapper-svg-remove-ingredient-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 20px;
    width: 20px;
    margin-bottom: 1rem;
    position: relative;
    left: -3px;
    transition: all 0.1s ease-in-out;
  }
  .svg-remove-ingredient-block {}

  .recipeCreate-ingredientBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    border-radius: 6px;
    background-color: var(--color-gray-light);
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(60,63,66,0.1); */
    padding: 1em;
  }
  .recipeCreate-ingredientBlock:not(:last-child) {
    margin-bottom: 1rem;
  }

  #js-button-recipeCreate-submit {
    margin-top: 2rem;
  }




@media (hover: none) {
  .button-hollow:active {
    background: var(--color-orange-dark);
    /* box-shadow: 0 2.5px 0 0 #B3784F; */
    transform: translateY(1px);
  }
  .button-filled:active {
    background: var(--color-orange-dark);
    /* box-shadow: 0 0.5px 0 0 #B3784F; */
    transform: translateY(2px);
  }
}