html {
  --font-sans: "Work Sans", sans-serif;
  --font-serif: "Eczar", serif;

  --color-orange4: #FFA15E;
  --color-orange3: #FFBF91;
  --color-orange2: #FFDDC4;
  --color-orange1: #FFFBF7;
  --color-dark2: #3C3F42;
  --color-dark1: #424549;
}

html:not(.user-navigates-with-keyboard) button:focus,
html:not(.user-navigates-with-keyboard) input:focus,
html:not(.user-navigates-with-keyboard) select:focus,
html:not(.user-navigates-with-keyboard) textarea:focus {
  outline: none;
  box-shadow: initial;
}

::-moz-selection {
  background-color: var(--color-orange3);
}
::selection {
  background-color: var(--color-orange3);
}

body {
  background-color: var(--color-dark2);

  font-family: var(--font-sans);
  font-size: 15px;
  color: var(--color-orange2);
}





header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  /*Hollow button text height, hollow button padding, hollow button border, header padding, and header separator height */
  min-height: calc(0.8em + 0.8em + 2px + 2rem + 1px);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 1rem;

  background-color: var(--color-dark2);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  /* border-bottom: 1px solid #54585C; */
}

  #wrapper-header-leftArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

    #wrapper-logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      pointer-events: none;
    }

  #wrapper-header-rightArea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  #wrapper-header-rightArea > *:not(:first-child) {
    margin-left: 0.5em;
  }





.view {
  --height: 58px;

  position: relative;
  top: var(--height);
  min-height: calc(100vh - var(--height));
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}



#js-view-landing {}

  #landing-text-usp {
    margin: 0;
    margin-bottom: 1em;
  }

  #landing-text-direction {
    margin-bottom: 1em;
  }



#js-view-signIn {}

  .wrapper-feedback {
    min-height: calc(1.024em * 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 2em;
  }



#js-view-register {}



#js-view-userHome {}

  #js-current-user,
  #js-recipe-count {
    line-height: 1;
  }

  #js-current-user {
    margin-bottom: 0.25em;
    word-break: break-all;
  }

  #js-recipe-count {
    margin-bottom: 3em;
  }

  .recipe-name {
    margin-bottom: 0.25em;
  }

  #js-button-userHome-addRecipe {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19);
  }




.typo-heading-large {
  font-family: var(--font-serif);
  font-size: 1.953em;
  line-height: 1.092;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.typo-heading-small {
  font-family: var(--font-serif);
  font-size: 1.563em;
  line-height: 1.024;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.typo-body-large {
  font-size: 1.25em;
  line-height: 1.067;
  font-weight: 400;
}

.typo-body {
  font-size: 1em;
  line-height: 1.25;
  font-weight: 400;
}

.typo-body-small {
  font-size: 0.8em;
  line-height: 1.334;
  font-weight: 400;
}

.typo-left{
  text-align: left;
}

.typo-center {
  text-align: center;
}

.typo-color-orange4 {
  color: var(--color-orange4);
}

.typo-color-orange3 {
  color: var(--color-orange3);
}

.typo-color-orange2 {
  color: var(--color-orange2);
}

.typo-color-orange1 {
  color: var(--color-orange1);
}

.typo-color-dark2 {
  color: var(--color-dark2);
}

.typo-color-dark1 {
  color: var(--color-dark1);
}





form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
  form > *:not(:last-child) {
    margin-bottom: 1em;
  }

form button {
  margin-top: 1rem;
}

label {
  margin-top: 0.267em;
}
label.invalid {
  color: #FF8A80;
}

.wrapper-input {
  display: flex;
  flex-flow: column nowrap;
}

  input {
    background: rgba(255, 251, 247, 0.09);
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px 0 rgba(60,63,66,0.20), inset 0 1px 3px 0 rgba(60,63,66,0.10);

    color: var(--color-orange2);

    line-height: 1;

    min-height: 40px;
    padding: 1em;
  }



.recipe-card {
  position: relative;
  border-radius: 6px;
  background-color: #46494D;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(60,63,66,0.1);
  padding: 1em;
  /* Account for chevron icon width, and both sides of chevron padding */
  padding-right: calc(2em + 7px);
  cursor: pointer;
}
.recipe-card:not(:last-of-type) {
  margin-bottom: 16px;
}
.svg-chevron-show-recipe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}



.button-hollow {
  background-color: var(--color-dark2);
  border: 1px solid var(--color-orange4);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(60,63,66,0.1);
  border-radius: 6px;
  padding: 6px 8px 6px 8px;

  font-size: 0.8em;
  line-height: 1;
  font-weight: 400;

  min-height: 24px;

  transition: all 0.1s ease-in-out;

  cursor: pointer;
}
.button-hollow:hover {
  background-color: var(--color-orange4);
  color: var(--color-dark2);
}
.button-hollow:active {
  transform: translateY(1px);
}





.button-filled {
  background: var(--color-orange4);
  box-shadow: 0 2.5px 0 0 #CC895A;
  border: none;
  border-radius: 6px;

  font-size: 1em;
  line-height: 1;
  font-weight: 500;

  min-height: 48px;
  padding: 6px 8px 6px 8px;

  transition: all 0.1s ease-in-out;

  cursor: pointer;
}
.button-filled:hover {
  background: #FF984E;
  box-shadow: 0 2.5px 0 0 #B3784F;
}
.button-filled:active {
  transform: translateY(2px);
  box-shadow: 0 0.5px 0 0 #B3784F;
}
.button-filled:disabled {
  cursor: not-allowed;
  opacity: 0.38;
}




*:focus {
  box-shadow: 0px 0px 2px 3px #5E94FF;
  outline: none;
}